body {
  background-color: lightgrey;
  height: 100%;
  width: 100%;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
}

#header {
  width: 100%;
  height: 10%;
  background-color: darkgrey;
  text-align: center;
  
}
#title{
    font: 80px bold;
    margin: 1px;
  
  }
  
  #subTitle{
    font: 25px bold;
    margin: 1px;
  }

#navCon {
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#navBar {
  flex-direction: column;
  width: 100px;
  height: 200px;
  background-color: red;
  min-width: 100px; 
}

.navButton {
  align-self: center;
  text-align: center;
  background-color: darkgrey;
  border-radius: 15px;
  border: 2px solid black;
  margin: 5%;
  line-height:35px;
  height: 20%;
  width: 80%;
}

a {
  color: black;
}

#contentSection {
  width 80%;
  height: 90%;
}
